<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>张慕明</string>
		<key>gender</key>
		<string>0</string>
		<key>location</key>
		<string></string>
		<key>phoneNumber</key>
		<string>123456789</string>
		<key>visitDate</key>
		<array>
			<date>2019-10-14T05:19:52Z</date>
		</array>
		<key>descriptions</key>
		<array>
			<string>你再说说</string>
			<string>还有啥</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>张慕明</string>
		<key>gender</key>
		<string>0</string>
		<key>location</key>
		<string></string>
		<key>phoneNumber</key>
		<string>234567891</string>
		<key>visitDate</key>
		<array>
			<date>2019-10-14T05:19:52Z</date>
		</array>
		<key>descriptions</key>
		<array>
			<string>你再说说</string>
			<string>还有啥</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>张慕明</string>
		<key>gender</key>
		<string>0</string>
		<key>location</key>
		<string></string>
		<key>phoneNumber</key>
		<string>3456789123</string>
		<key>visitDate</key>
		<array>
			<date>2019-10-14T05:19:52Z</date>
		</array>
		<key>descriptions</key>
		<array>
			<string>你再说说</string>
			<string>还有啥</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>张慕明</string>
		<key>gender</key>
		<string>0</string>
		<key>location</key>
		<string></string>
		<key>phoneNumber</key>
		<string>4567891234</string>
		<key>visitDate</key>
		<array>
			<date>2019-10-14T05:19:52Z</date>
		</array>
		<key>descriptions</key>
		<array>
			<string>你再说说</string>
			<string>还有啥</string>
		</array>
	</dict>
</array>
</plist>
